<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite to index.php" stopProcessing="true">
                    <match url=".*"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="index.php"/>
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment=".htaccess"/>
                    <add segment=".env"/>
                    <add segment=".env.local"/>
                    <add segment=".env.dev"/>
                    <add segment=".env.dev.local"/>
                    <add segment=".env.test"/>
                    <add segment=".env.test.local"/>
                    <add segment=".env.prod"/>
                    <add segment=".env.prod.local"/>
                    <add segment=".gitignore"/>
                    <add segment="composer.json"/>
                    <add segment="composer.lock"/>
                </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".log" allowed="false"/>
                    <add fileExtension=".pem" allowed="false"/>
                    <add fileExtension=".env" allowed="false"/>
                    <add fileExtension=".key" allowed="false"/>
                    <add fileExtension=".crt" allowed="false"/>
                </fileExtensions>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="false"/>
    </system.webServer>
    <location path="config">
        <system.webServer>
            <security>
                <authorization>
                    <deny users="*"/>
                </authorization>
            </security>
        </system.webServer>
    </location>
    <location path="var">
        <system.webServer>
            <security>
                <authorization>
                    <deny users="*"/>
                </authorization>
            </security>
        </system.webServer>
    </location>
</configuration>
